<form id="form_address">
  <div class="row">
    <div class="col-md-4">
        <span class="text-bold">* Pais</span>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
            <select id="country" class="form-control custom-select">
              <option value="MEX">MEX - MEXICO</option>
            </select>
        </div>
        <small id="country-help" class=""></small>
    </div>
    <div class="col-md-4">
        <span class="text-bold">* Estado</span>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
            <input id="state" type="text" class="form-control" name="state" placeholder="Estado">
        </div>
        <small id="state-help" class=""></small>
    </div>
    <div class="col-md-4">
        <span class="text-bold">* Municipio</span>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
            <input id="municipality" type="text" class="form-control" name="municipality" placeholder="Municipio">
        </div>
        <small id="municipality-help" class=""></small>
    </div>
  </div>
  <div class="row" style="margin-top:20px">
    <div class="col-md-4">
        <span class="text-bold">* Localidad</span>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input id="locality" type="text" class="form-control" name="locality" placeholder="Localidad">
        </div>
        <small id="locality-help" class=""></small>
    </div>
    <div class="col-md-4">
        <span class="text-bold">* Código Postal</span>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input id="zipcode" type="text" class="form-control" name="zipcode" placeholder="Código Postal">
        </div>
        <small id="zipcode-help" class=""></small>
    </div>
    <div class="col-md-4">
        <span class="text-bold">* Calle</span>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input id="street" type="text" class="form-control" name="street" placeholder="Calle">
        </div>
        <small id="street-help" class=""></small>
    </div>
  </div>
  <div class="row" style="margin-top:20px; margin-bottom:30px;">
    <div class="col-md-4">
        <span class="text-bold">* Num Exterior</span>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-hashtag"></i></span>
            <input id="external_number" type="number" class="form-control" name="external_number" placeholder="Numero Exterior">
        </div>
        <small id="external_number-help" class=""></small>
    </div>
    <div class="col-md-4">
        <span class="text-bold">* Num Interior</span>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-hashtag"></i></span>
            <input id="internal_number" type="number" class="form-control" name="internal_number" placeholder="Numero Interior">
        </div>
        <small id="internal_number-help" class=""></small>
    </div>
    <div class="col-md-4">
        <span class="text-bold">* Telefono</span>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input id="phone" type="phone" class="form-control" name="phone" placeholder="Telefono">
        </div>
        <small id="phone-help" class=""></small>
    </div>
  </div>
</form>