{% load i18n %}
<div class="col-sm-12" style="padding-bottom: 3rem;">
  <h1 class="text-center"><strong>{% trans 'Certificate management' %}</strong></h1>
  <p class="text-center" style="padding-bottom: 1rem;">{% trans 'At this section you are able to management your certificates.' %}</p>
</div>
<div class="row" style="padding-top: 2rem;">
  <div class="contents hiddem">
    <div class="col-lg-4">
      <span class="text-bold">* {% trans 'Upload private certificate' %}</span>
      <div class="form-group">
        <div class="input-group input-file">
          <span class="input-group-addon btn-choose"><i class="glyphicon glyphicon-paperclip" aria-hidden="true"></i><span style="padding-left: 0.5rem;">{% trans 'Add' %}</span></span>
          <input type="text" class="form-control key" placeholder='{% trans 'Upload private certificate' %}' />
          <span class="input-group-addon btn-reset"><i class="fa fa-trash" aria-hidden="true"></i><span style="padding-left: 0.5rem;">{% trans 'remove' %}</span></span>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <span class="text-bold">* {% trans 'Upload public certificate' %}</span>
      <div class="form-group">
        <div class="input-group input-file">
          <span class="input-group-addon btn-choose"><i class="glyphicon glyphicon-paperclip" aria-hidden="true"></i><span style="padding-left: 0.5rem;">{% trans 'Add' %}</span></span>
          <input type="text" class="form-control cer" placeholder='{% trans 'Upload public certificate' %}' />
          <span class="input-group-addon btn-reset"><i class="fa fa-trash" aria-hidden="true"></i><span style="padding-left: 0.5rem;">{% trans 'Remove' %}</span></span>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <span class="text-bold">* {% trans 'Private key password' %}</span>
      <div class="form-group input-pass">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
          <input type="password" class="form-control pass" placeholder='{% trans 'Private key password' %}' />
          <span class="input-group-addon btn-reset"><i class="fa fa-trash" aria-hidden="true"></i><span style="padding-left: 0.5rem;">{% trans 'Remove' %}</span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 btns" style="padding-top: 2rem; justify-content: flex-end; display: flex!important;">
    <button class="btn btn-primary new_csd">{% trans 'Add New' %}</button>
    <button class="btn btn-success hiddem add_csd" style="margin-right: 5rem;">{% trans 'Save' %}</button>
    <button class="btn btn-secondary hiddem cancel_csd">{% trans 'Cancel' %}</button>
  </div>
</div>

<table id="dt_csd" class="table table-striped table-bordered nowrap" style="width:100%">
  <thead>
    <tr>
      <th>{% trans 'Status' %}</th>
      <th>{% trans 'Serie' %}</th>
      <th>{% trans 'Emission date' %}</th>
      <th>{% trans 'Expiration date' %}</th>
      <th>{% trans 'Default' %}</th>
    </tr>
  </thead>
</table>