{% load i18n %}
<div class="col-lg-12 pass" style="margin-top: 15px">
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group col-lg-12 padd_b">
        <span class="text-bold">* {% trans 'Current password' %}</span>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input type="password" class="form-control" name="last_password" id="last_password" placeholder="{% trans 'Current password' %}" disabled>
        </div>
        <small id="state-help" class=""></small>  
      </div>
      <div class="form-group col-lg-12 padd_b">
        <span class="text-bold">* {% trans 'New password' %}</span>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input type="password" class="form-control" name="new_password" id="new_password" placeholder="{% trans 'New password' %}" disabled>
        </div>
        <small id="state-help" class=""></small>  
      </div>
      <div class="form-group col-lg-12 padd_b confirm">
        <span class="text-bold confirm">* {% trans 'Confirm password' %}</span>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input type="password" class="form-control" name="new_password_confirm" id="new_password_confirm" placeholder="{% trans 'Confirm password' %}" disabled>
        </div>
      </div>
      <div class="col-lg-12 text-right ">
        <button type="button" class="btn btn-primary text-right pass_update"><i class="glyphicon glyphicon-lock" style="padding-right: 0.5rem"></i>{% trans 'Update' %}</button>
        <button type="button" class="btn btn-primary text-right save_pass hiddem" style="margin-right: 2rem"><i class="fa fa-database"></i><span style="padding-left: 0.5rem;">{% trans 'Save' %}</span></button>
        <button type="button" class="btn btn-secondary text-right cancel_pass hiddem"><i class="fa fa-ban"></i><span style="padding-left: 0.5rem;">{% trans 'Cancel' %}</span></button>
      </div>
    </div>
    <div class="col-lg-6 validation">
      <h1 class="text-center" style="padding-bottom: 1rem;"><strong>{% trans 'Your password must have' %}</strong></h1>
      <div class="text-normal">
        <div class="col-sm-6 col-lg-7">
          <h4 class="text-bold">{% trans 'Required' %}:</h4>
          <h5 class="padd_b number">{% trans 'Your password must have a number.' %}</h5>
          <h5 class="padd_b length">{% trans 'Your password must have at least 8 characters.' %}</h5>
          <h5 class="padd_b capital">{% trans 'Your password must have a uppercase letter.' %}</h5>
          <h5 class="padd_b character">{% trans 'Your password must have a special character.' %}</h5>
        </div>
        <div class="col-sm-6 col-lg-5">
          <h5 class="padd_b tiny">{% trans 'Your password must have a lowercase letter.' %}</h5>
          <h5 class="padd_b space">{% trans 'Your password must not have contain any space.' %}</h5>
          <h5 class="padd_b">{% trans 'Your password must be different than previous one.' %}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
