#vig {
	/*background-color: #386d2a;*/
	background-color: #4c7740;
}

#cfp {
    /*background-color: #16405e;*/
    background-color: #305168;
}

#ine {
	background-color: #595b5b;
}


#alt {
	/*background-color: #842a2a;*/
	background-color: #a33434;
}

#can {
	/*background-color: #db722b;*/
	background-color: #e08141;
}