<!-- Modal -->
<div class="modal fade" id="modal-branch-edit" tabindex="-1" role="dialog" aria-labelledby="edit-eruleLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title header-modal" >Informaci&oacute;n de la sucursal <strong id="branch-info"></strong>.</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float: right;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="well" id='info_branch'>
            <div class="row">
              <div class="col-sm-6 info">
                <strong></strong>
                <strong id="bid"> </strong>
                
              </div>
            </div> 
            <br> 
            <div class="row">
              <div class="col-sm-6 info">
                <strong>Sucursal:</strong>
                <input class='form-control' type="text" id="bname" value="">
              </div>   
              <div class="col-sm-6 info">
                <strong>Estado:</strong>               
                <input class='form-control' type="text" id="bstate" value=""> 
              </div>
            </div>
            <br>
            <div class="row">                  
              <div class="col-sm-6 info">
                <strong>Municipio:</strong>                
                <input class='form-control' type="text" id="bmunicipality" value="">
              </div>                
              <div class="col-sm-6 info">
                <strong>Colonia:</strong>                             
                <input class='form-control' type="text" id="bneighborhood" value="">
              </div>   
            </div>
            <br>
            <div class="row">
              <div class="col-sm-6 info">
                <strong>CP:</strong>                
                <input class='form-control' type="text" id="bzipcode" value="">  
              </div>  
              <div class="col-sm-6 info">
                <strong>Localidad:</strong>                
                <input class='form-control' type="text" id="blocality" value="">
              </div> 
            </div> 
            <br> 
            <div class="row">   
              <div class="col-sm-6 info">
                <strong>Calle:</strong>                
                <input class='form-control' type="text" id="bstreet" value="">
              </div>  
              <div class="col-sm-6 info">
                <strong>No. Ext:</strong>               
                <input class='form-control' type="text" id="bnumber" value="">
              </div>   
            </div>    
          </div>  
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="float: left;">Cerrar</button>
        <button type="button" class="btn btn-primary save" id = 'save' style="float: right;">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
    