<!-- Modal -->
<div class="modal fade" id="modal-info-branch" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br>
                    <h4 class="modal-title header-modal" >Informaci&oacute;n de la sucursal <strong id="strong-branch-info"></strong>.</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="well" id='general-info_branch'>
                                <h5 class="header-info-branch">Direcci&oacute;n</h5>
                                <div class="row">
                                    <div class="col-sm-4" id="branch-street">
                                        Calle:
                                    </div>
                                    <div class="col-sm-4" id="branch-externalnumber">
                                        N&uacute;mero exterior:
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4" id="branch-state">
                                        Estado:
                                    </div>
                                    <div class="col-sm-4" id="branch-municipality">
                                        Municipio:
                                    </div>
                                    <div class="col-sm-4" id="branch-locality">
                                        Localidad:
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4" id="branch-zipcode">
                                        C&oacute;digo Postal:
                                    </div>
                                    <div class="col-sm-4" id="branch-neighborhood">
                                        Colonia:
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    