<div class="modal fade" id="modal-add-csd-efirma" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <br>
                <h4 class="modal-title">Agregar Certificados <strong id="strong-taxpayer"></strong></h4>
            </div>
            <div class="modal-body">
                <form action="#" id="add-cer-form" role="form" method="POST" accept-charset="utf-8" data-toggle="validator">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12">
                        <label for="password-key">Contrase&ntilde;a archivo .key:</label>
                        <input type="password" class="form-control" id="password-key" name="password" autocomplete="off" placeholder="Contrase&ntilde;a archivo .key" required data-pwd>
                        <span class="help-block with-errors"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6 col-md-6">
                            <label for="input-b3">Archivo .key:</label>
                            <input id="input-b3" name="input-b3" type="file" class="form-control file" data-show-preview="false" data-show-upload="false" data-validate="true" required data-key data-allowed-file-extensions='["key"]'>
                            <span class="help-block with-errors"></span>
                        </div>
                        <div class="form-group col-sm-6 col-md-6">
                            <label for="input-b4">Archivo .cer:</label>
                            <input id="input-b4" name="input-b4" type="file" class="form-control  file" data-show-preview="false" data-show-upload="false" data-validate="true" required data-cer data-allowed-file-extensions='["cer"]'>
                            <span class="help-block with-errors"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary add-cer">Agregar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>