{% load i18n %}
{% if oper == 'default' %}
  {% if default %}
    <a class="btn btn-success btn-sm"><i class="fa fa-check-circle" aria-hidden="true"></i> {% trans 'Yes' %}</a>
  {% else %}
    <a class="btn btn-danger btn-sm ce-default" id="default" serial="{{show_serial}}" data_0="{{id}}" data_1="{{serial}}"><i class="fa fa-ban" aria-hidden="true"></i> {% trans 'No' %}</a>
  {% endif %}
{% elif oper == 'status' %}
  {% if status == 'A' %}
    <a class="btn btn-success btn-sm ce-active"><i class="fa fa-check-circle" aria-hidden="true"></i> {% trans 'Activated' %}</a>
  {% elif status == 'S' %}
    <a class="btn btn-warning btn-sm ce-active"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {% trans 'Deactivated' %}</a>
  {% else %}
    <a class="btn btn-danger btn-sm"><i class="fa fa-ban" aria-hidden="true"></i> {% trans 'Cancelled' %}</a>
  {%endif%}
{% endif %}