{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}Error en la Activaci&oacute;n | La Comer{% endblock %}

{% block content %}
<p class='text-center'>Hubo un error en el proceso de activaci&oacute;n, favor de intentar más tarde.</p>
{% endblock %}


{% comment %}
**registration/activate.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}
