{% extends "registration/base_reset.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Finkok | Restablecers Contrase&ntilde;a {% endblock %}

{% block content %}
<div class="login-form" autocomplete="off">
	<h4 class="card-title"><strong>&iquest;Olvidaste tu contrase&ntilde;a?</strong></h5>
	<p class="text-center" >Introduce tu correo electr&oacute;nico y enviaremos instrucciones para crear una nueva.</p>
	<div class="form-group">
		<label for="id_email"> <strong>* Correo Electr&oacute;nico</strong></label>
		<input type="email" name="email" id="id_email" class="form-control" placeholder="Correo electrónico" />
	</div>
	<br>
	<button class="btn btn-primary btn-block send">Restablecer Contrase&ntilde;a</button>
	<div class="margin-top20 text-center">
		Regresar a  <a href="{% url 'login' %}">Inicia sesión</a>
	</div>
</div>

{% endblock %}


{# This is used by django.contrib.auth #}