{% extends "registration/base_reset.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block meta %}
{% load static %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %} Finkok | Confirmación Restablecer Contraseña{% endblock %}

{% block content %}
{% if validlink %}
	<p class='text-center'>Introduce nueva contraseña:</p>
  <div autocomplete="off">
		<div class="form-group">
			<label class="control-label" for="id_{{ field.name }}">* Nueva Contraseña</label>
			<input type="password" class="form-control nwpa" placeholder="Nueva Contraseña" />					
		</div>
		<div class="form-group">
			<label class="control-label"> * Confirma Nueva Contraseña</label>
			<input type="password" class="form-control nwpa_c" placeholder="Confirma Nueva Contraseña" />					
		</div>	
    <button type="submit" class="btn btn-primary btn-block pass_all">Cambiar Contrase&ntilde;a</button>
  </div>
{% else %}
  <p class='text-center'>Ocurrió un error, por favor intenta de nuevo <i><a href="{% url 'auth_password_reset' %}">AQUÍ</a></i>.</p>
{% endif %}
{% endblock %}
{# This is used by django.contrib.auth #}
{% block js %}

{% endblock  %}


<!--form django-->
{% comment %}
{% for field in form %}
<div class="form-group" {%if field.errors %}has-error{% endif %}>
	<label class="control-label" for="id_{{ field.name }}"> {% if field.name == 'new_password1' %} Nueva Contraseña {% else %} Confirma Nueva Contraseña {% endif %}*</label>
	<input type="password" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="{% if field.name == 'new_password1' %} Nueva Contraseña {% else %} Confirma Nueva Contraseña {% endif %}" />					
</div>				
{% for error in field.errors %}
<div class="alert alert-danger form-group"><strong>{{ error|escape }}</strong></div>
{% endfor %}
{% endfor %}
{% endcomment %}
<!--form django-->