{# test template #}
<!-- code for displaying success or error message in template -->
<style type="text/css">
    #header {
        background: #393C3E !important;
        color: #fff !important;
    }


    input[type=submit]:hover {
        background: #333 !important;
    }
    input[type=submit] {
         background: #187ccc !important;
    }

</style>
{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block nav-global %}Restablecers Contrasena{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if not validlink %}
    {% if messages %}

      <ul class="messages">
          {% for message in messages %}
          {% endfor %}
      </ul>
    {% endif %}
    <!-- Form rendering code for template -->
    <form action="" method="post">

        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Restore" />
    </form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}



{% endblock %}
