body {
	background-color: #FFF;
}
#section-content {
	position:absolute;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -21em;
    margin-left: -20em;
}
.card {
	width: 40vw !important;
	/*margin: 0 auto;*/
}
.card-header {
	background-color: #595959 !important; 
	color: #FFFFFF
}
img {
	width: 40px;
}
.card-body {
	margin: 30px;
	padding-bottom: 10px;
}
#b-register {
	font-size: 16px;
}

@media screen and (max-width: 499px) {
	.card {
		width: 350px !important;
		height: 100% !important;
	}
	.card-body {
		margin: 10px;
	}
	#section-content {
		margin-top: 1em;
		margin-left: -12.5em;
		position: relative;
		width: 0em;
	}
	.div-button {
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 500px) and (max-width: 1030px) {
	.card {
	 width: 97vw !important;
	 height: 100% !important;
	}
	#section-content {
		margin: 1em;
		top: 0%;
		left: 0%;
	}
}