{% load i18n %}
<div class="modal fade bs-example-modal-sm password_notify" style="padding-top: 8rem;"  data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row" style="justify-content: center;">
          <div class="col-sm-12">
            <div class="form-group text-center">
              <h1 class="text-bold">{% trans 'Your password was update!' %}</h1>
              <h4 class="text">{% trans 'Please, Sign in again to complete the process' %},</h4>
              <h4 class="text">{% trans 'This action will close session in all devices.' %}</h4>
            </div>
          </div>
          <div class="col-sm-12" style="padding-top: 1rem; padding-top: 1rem; justify-content: center; display: flex;">
            <button type="button" class="btn btn-primary btn-lg  pass_acept_n" style="padding-left: 6rem; padding-right: 6rem; font-size: 1.5rem; font-weight: bold;">{% trans 'Accept' %}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>