<div class="funkyradio">
    <div class="radio-inline funkyradio-success form-check-inline">
        <input type="radio" value='A' name="answer{{cont}}-cancel" id="accept{{cont}}-cancel" />
        <label for="accept{{cont}}-cancel">Aceptar&nbsp;&nbsp;</label>
    </div>
    <div class="radio-inline funkyradio-danger form-check-inline">
        <input type="radio" value='R' name="answer{{cont}}-cancel" id="reject{{cont}}-cancel" />
        <label for="reject{{cont}}-cancel">Rechazar&nbsp;&nbsp;</label>
    </div>
</div>
